doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Document
  body
    // HEADER START
    header
      .container
        button.btn NB
        p.new new basketball
        nav.nav
          ol.nav_h
            li.nav_b
              p.nav_m Главная
            li.nav_b
              p.nav_m Заказы
            li.nav_b
              p.nav_m О сервисе
            li.nav_b
              p.nav_m Помощь
    // HEADER END

    // MAIN START
    main
      .box
        h1.h1 Нужны баскетбольные кроссовки?
        h3.h3 Тут ты найдешь для себя лучшие кроссвоки для занятия баскетболом. У нас очень большой выбор!
        div
          button.butn ЗАКАЗАТЬ
        img.krasofka(src="../assets/img/крос 1.png", alt="")
    // MAIN END

    // FOOTER START
    footer
      .boox
        img.strel(src="../assets/img/стрелочки.png", alt="")
        img(src="../assets/img/Rectangle 6.png", alt="")
        img(src="../assets/img/Rectangle 7.png", alt="")
        img(src="../assets/img/Rectangle 7.png", alt="")
        img(src="../assets/img/Rectangle 7.png", alt="")
      .sss
        p T34
        p T34
        p T34
        p T34
    // FOOTER END
